[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/node"]
	path = deps/node
	url = https://github.com/nodejs/node.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/backward-cpp"]
	path = deps/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "deps/easy_profiler"]
	path = deps/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "deps/easyloggingpp"]
	path = deps/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/boostorg/boost
